<footer class="footer">

    <div class="newsletter">
        <p class="texto-newsletter">Para enterarte de nuestras promociones y beneficios antes que todos dejanos tu
            email acá
        </p>
        <input type="email" name="email" placeholder="Dejanos tu email" class="casilla-mail" />
        <button type="submit" class="boton-news"><i class="fas fa-arrow-alt-circle-right"></i></button>
    </div>

    <div class="contenedor-cajas">

        <div class="caja1">
            <img src="/images/logosinfondo.png" class="logo-footer" />
            <p class="descripcion-marca">Somos un equipo de emprendedoras, dedicadas a la venta online de ropa
                infantil, te ofrecemos una marca simple, creativa, funcional y cómoda. Estamos para acompañar a
                todos aquellos que quieran mimar a los pequeños de la famila con los look mas cancheros.
                Mounstruitos INC es color, es juego, es risa y diversion. ¡Que disfrutes tu experiencia de compra en
                nuestra tienda online!
            </p>
        </div>

        <div class="caja2">
            <h5>Compra Online</h5>
            <ul>
                <li><a href="#">Como comprar?</a></li>
                <li><a href="#">Registrarse</a></li>
                <li><a href="#">Mi Cuenta</a></li>
                <li><a href="#">Mi Carrito</a></li>
                <li><a href="#">Mis Pedidos</a></li>
                <li><a href="#">Métodos de Envío</a></li>
            </ul>
            <h5>Nuestros Servicios</h5>
            <ul>
                <li><a href="#">Formas de pago y Beneficios</a></li>
            </ul>
        </div>

        <div class="caja3">
            <h5>Atención al Cliente</h5>
            <ul>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Preguntas Frecuentes</a></li>
                <li><a href="#">Tuve un inconveniente con mi pedido</a></li>
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Defensa de las y los Consumidores.</a></li>
            </ul>
        </div>

        <div class="iconos-footer">
            <a href="#"><img src="/images/contactomonstruitos.png" class="icono" /></a>
            <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.google.com.ar/maps/place/Jos%C3%A9+Antonio+Cabrera+3250,+C1186AAJ+CABA/@-34.5973495,-58.4165039,16.22z/data=!4m5!3m4!1s0x95bcca88a566a00f:0x9f0372f7e7822da!8m2!3d-34.597015!4d-58.4123689"
                class="ubicacion"><i class="fas fa-map-marker-alt"></i></a>
        </div>

        <div class="caja4">
            <div class="boton-arrepentimiento">
                <button type="submit" class="arrepentimiento" href="/">Arrepentimiento de compra</button>
            </div>
            <a href="#" class="qr"><i class="fas fa-qrcode"></i></a>
            <a href="/loginAdministrador" class="usuario-administrador">Cuenta Administrador</a>
        </div>
    </div>

</footer>