<footer>
    <div class='main-box'>
        <div class='box-a flex'>
            <a href='/'><img src="/images/web/logosinfondo.png" class='footer-logo'></a>
            <p class='font brand-info'>Somos un equipo de emprendedoras, dedicadas a la venta online de ropa
                infantil, te ofrecemos una marca simple, creativa, funcional y cómoda. Estamos para acompañar a
                todos aquellos que quieran mimar a los pequeños de la famila con los look mas cancheros.
                Mounstruitos INC es color, es juego, es risa y diversion. ¡Que disfrutes tu experiencia de compra en
                nuestra tienda online!
            </p>
        </div>

        <div class='boxes flex'>

            <div class=boxb-boxc>
                <div class='box-b font'>
                    <a href="#">
                        <p>Compra Online</p>
                    </a>
                    <ul>
                        <li><a href="#">Como comprar?</a></li>
                        <li><a href="#">Registrarse</a></li>
                        <li><a href="#">Mi Cuenta</a></li>
                        <li><a href="#">Mi Carrito</a></li>
                        <li><a href="#">Mis Pedidos</a></li>
                        <li><a href="#">Métodos de Envío</a></li>
                    </ul>
                    <a href="#">
                        <p>Nuestros Servicios</p>
                    </a>
                    <ul>
                        <li><a href="#">Formas de pago y Beneficios</a></li>
                    </ul>
                </div>

                <div class='box-c font'>
                    <a href="#">
                        <p>Atención al Cliente</p>
                    </a>
                    <ul>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Preguntas Frecuentes</a></li>
                        <li><a href="#">Tuve un inconveniente con mi pedido</a></li>
                        <li><a href="#">Términos y Condiciones</a></li>
                        <li><a href="#">Defensa de las y los Consumidores.</a></li>
                    </ul>
                </div>
            </div>

            <div class='icons-boxd'>
                <div class='footer-icons'>
                    <a href="#"><img src='/images/web/contactomonstruitos.png' class='icon'></a>
                    <a href="#" class='social blue'><i class="fab fa-facebook"></i></a>
                    <a href="#" class='social fucsia'><i class="fab fa-instagram"></i></a>
                    <a href="https://www.google.com.ar/maps/place/Jos%C3%A9+Antonio+Cabrera+3250,+C1186AAJ+CABA/@-34.5973495,-58.4165039,16.22z/data=!4m5!3m4!1s0x95bcca88a566a00f:0x9f0372f7e7822da!8m2!3d-34.597015!4d-58.4123689" target="_blank" class='social black'><i class="fas fa-map-marker-alt"></i></a>
                </div>

                <div class='box-d font'>
                    <button type="submit" class='regret' href="#">Arrepentimiento de compra</button>
                    <br>
                    <dialog class='style-loginAdm' id='popup-loginAdm'>
                        <%- include('./loginAdmin.ejs')%>
                    </dialog>
                    <div class='flex'>
                        <a href="#" class='qr-code black'><i class="fas fa-qrcode"></i></a>
                        <button class='adm-access black' id='open-loginAdmin'>Cuenta Administrador</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <script src='/js/main/footer.js'></script>
</footer>