<header>
    <div class='general-header'>
        <div class='welocome'>
            <p class='welcome-message font'>¡Bienvenidos a nuestro mundo!- Aceptamos todos los medios de pago - Envios a todo el pais</p>
        </div>

        <div class='main-header'>

            <div class='cont-logo-search'>
                <a href='/'><img src='/images/web/logosinfondo.png' class='logo'></a>

                <form action='/search' method='POST'>
                    <div class='search-bar'>
                        <input type='text' name='searching' placeholder='Buscar productos' class='bar font'>
                        <button type='submit' class='icon-search'><i class='fas fa-search'></i></button>
                    </div>
                </form>

                <dialog id='popup-login' class='style-login'>
                    <%- include('./login.ejs')%>
                </dialog>

                <% if (locals.isLogged) { %>
                    <div class='menu-header'>
                        <a href='#'><img src='/images/web/contactomonstruitos.png' class='contact'></a>
                        <a href='/products/cart'><img src='/images/web/carritomonstruitos.png' class='cart'></a>
                        <a href='/user/profile/<%=locals.userLogged.id%>'><img src='/images/users/<%= locals.userLogged.imagen %>' style='border-radius: 5px ;' class='button-config user'></a>
                        <a href='/user/logout/'><i class='fas fa-sign-out-alt new-user'></i></a>
                    </div>
                <% } else { %>
                    <div class='menu-header'>
                        <a href='#'><img src='/images/web/contactomonstruitos.png' class='contact'></a>
                        <a href='/products/cart'><img src='/images/web/carritomonstruitos.png' class='cart'></a>
                        <button class='button-config' id='open-login'><i class='fas fa-user-alt user'></i></a></button>
                        <a href='/user/register'><i class='fas fa-user-plus new-user'></i></a>
                    </div>
                <% } %>
            </div>

            <div class='option-list' id='list'>

                <select name='bebes' class='select-header font'>
                    <option disabled selected>BEBES</option>
                    <option value='1'>Remeras</option>
                    <option value='2'>Camisas y Blusas</option>
                    <option value='3'>Buzos y Sweaters</option>
                    <option value='4'>Camperas</option>
                    <option value='5'>Pantalones y Leggings</option>
                </select>

                <select name='nenes' class='select-header font'>
                    <option disabled selected>NENES</option>
                    <option value='1'>Remeras</option>
                    <option value='2'>Camisas y Blusas</option>
                    <option value='3'>Buzos y Sweaters</option>
                    <option value='4'>Camperas</option>
                    <option value='5'>Pantalones y Leggings</option>
                </select>

                <select name='nenas' class='select-header font'>
                    <option disabled selected>NENAS</option>
                    <option value='1'>Remeras</option>
                    <option value='2'>Camisas y Blusas</option>
                    <option value='3'>Buzos y Sweaters</option>
                    <option value='4'>Camperas</option>
                    <option value='5'>Pantalones y Leggings</option>
                </select>

                <a href='/sale' style='text-decoration: none;'>
                    <li class='select-header font'>OFERTAS</li>
                </a>

                <a href='/products/all' style='text-decoration: none;'>
                    <li class='select-header font'>VER TODO</li>
                </a>
            </div>

            <div class='burger-menu' id='menu'>
                <i class='fas fa-bars'></i>
            </div>

        </div>
    </div>
    
    <script src='/js/main/header.js'></script>
</header>