<header>
    <div class='welocome'>
        <p class='welcome-message font'>¡Bienvenidos a nuestro mundo!</p>
    </div>

    <div class='main-header' >

        <div class='cont-logo-search'>
            <a href='/'><img src='/images/web/logosinfondo.png' class='logo'></a>

            <div class='search-bar'>
                <input type='text' placeholder='Buscar productos' class='bar font' required>
                <button type='submit' class='icon-search'><i class='fas fa-search'></i></button>
            </div>

            <div class='menu-header'>
                <a href='#'><img src='/images/web/contactomonstruitos.png' class='contact'></a>
                <a href='#'><img src='/images/web/carritomonstruitos.png' class='cart'></a>
                <a href='#'><i class='fas fa-user-alt user'></i></a>
                <a href='#'><i class='fas fa-user-plus new-user'></i></a>
            </div>

        </div>

        <ul class='option-list'>
            <select name='bebes' class='select-header'>
                <option disabled selected>BEBES</option>
                <option value='1'>Remeras</option>
                <option value='2'>Camisas y Blusas</option>
                <option value='3'>Buzos y Sweaters</option>
                <option value='4'>Camperas</option>
                <option value='5'>Pantalones y Leggings</option>
            </select>
            <select name='nenes' class='select-header'>
                <option disabled selected>NENES</option>
                <option value='1'>Remeras</option>
                <option value='2'>Camisas y Blusas</option>
                <option value='3'>Buzos y Sweaters</option>
                <option value='4'>Camperas</option>
                <option value='5'>Pantalones y Leggings</option>
            </select>
            <select name='nenas' class='select-header'>
                <option disabled selected>NENAS</option>
                <option value='1'>Remeras</option>
                <option value='2'>Camisas y Blusas</option>
                <option value='3'>Buzos y Sweaters</option>
                <option value='4'>Camperas</option>
                <option value='5'>Pantalones y Leggings</option>
            </select>
            <a href='#'>
                <li>OFERTAS</li>
            </a>
            <a href='/products'>
                <li>VER TODO</li>
            </a>
        </ul>

        <div class='burger-menu'>
            <i class='fas fa-bars'></i>
        </div>

    </div>

</header>