<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div class='info-conteiner font'>
            <h1 class='title'>EDITÁ TUS DATOS</h1>

            <form action='/user/register/' method='POST' class='register-form'>
                <div class='complete-container'>
                    <p>Nombre y Apellido (*)</p>
                    <input type='text' name='nombre'>
                </div>
                <div class='complete-container'>
                    <p>Cómo te gustaría que te llamemos?</p>
                    <input type='text' name='apodo'>
                </div>
                <div class='complete-container'>
                    <p>Email(*)</p>
                    <input type='email' name='email'>
                </div>
                <div class='complete-container'>
                    <p>Teléfono</p>
                    <input type='number' name='telefono'>
                </div>
                <div class='complete-container'>
                    <p>Provincia</p>
                    <select name='provincia'>
                         <option selected>Seleccioná tu opción</option>
                        <% for( let i=0; i < listado.length; i++ ) { %>
                            <option>
                                <%= listado[i].nombre %>
                            </option>
                            <% } %>
                    </select>
                </div>
                <div class='complete-container'>
                    <p>Localidad</p>
                    <select name='localidad'>
                        <option selected>Seleccioná tu opción</option>
                    </select>
                </div>
                <div class='complete-container'>
                    <p>Dirección (*)</p>
                    <input type='text' name='direccion'>
                </div>
                <div class='button-box'>
                    <button type='submit' class='create-button'>GUARDAR CAMBIOS</button>
                </div>
            </form>

        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>

</html>