<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/header.ejs')%>
    <main class='profile-main font'>

        <h3>Bienvenido a Tu Perfil (apodo)</h3>
        <div class='data-box'>
            <div class='box1'>
                <img src='/images/users/fotoperfil.png' alt="Foto de Perfil" class='profile-image'>
            </div>

            <div class='box2'>
                <h6>Tus datos:</h6>
                <p>Nombre:</p>
                <p>Email:</p>
                <p>Teléfono:</p>

                <h6>Datos de Envío:</h6>
                <p>Provincia:</p>
                <p>Localidad:</p>
                <p>Dirección:</p>
            </div>
        </div>

        <div class='tools'>
            <a href='/user/editProfile' class='edit'>Editar Datos</a>
            <button class='delete'>Eliminar Perfil</button>
        </div>

        <div class='box3'>
            <div class='orders'>
                <a href='#'>
                    <p style='text-decoration: underline;'>Mis Pedidos</p>
                    <p>Podés tener registro de tus compras con nosotros</p>
                </a>
            </div>
            <div class='shop'>
                <a href='/products'>
                    <p>¡Quiero empezar a comprar!</p>
                </a>
            </div>
        </div>
    </main>
    <%- include('../partials/footer.ejs')%>
</body>

</html>