<!DOCTYPE html>
<html lang='en'>

<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <div class='info-conteiner font'>
            <h1 class='title'>CREÁ TU CUENTA</h1>

            <form action='/user/register/' method='POST' class='register-form'>
                <div class='complete-container'>
                    <p>Nombre y Apellido (*)</p>
                    <input type='text' name='nombre'>
                </div>
                <div class='complete-container'>
                    <p>Cómo te gustaría que te llamemos?</p>
                    <input type='text' name='apodo'>
                </div>
                <div class='complete-container'>
                    <p>Foto de Perfil</p>
                    <input type='file' name='avatar' class='foto-input'>
                </div>
                <div class='complete-container'>
                    <p>Email(*)</p>
                    <input type='email' name='email'>
                </div>
                <div class='complete-container'>
                    <p>Teléfono</p>
                    <input type='number' name='telefono'>
                </div>
                <div class='complete-container'>
                    <p>Provincia</p>
                    <select name='provincia'>
                        <option selected>Seleccioná tu provincia
                        <% for( let i=0; i < listado.length; i++ ) { %>
                            <option>
                                <%= listado[i].nombre %>
                            </option>
                            <% } %>
                        </option>
                    </select>
                </div>
                <div class='complete-container'>
                    <p>Localidad</p>
                    <select name='localidad'>
                        <option selected>Seleccioná tu Localidad</option>
                    </select>
                </div>
                <div class='complete-container'>
                    <p>Dirección (*)</p>
                    <input type='text' name='direccion'>
                </div>
                <div class='complete-container'>
                    <p>Contraseña (*)</p>
                    <input type='password' name='contraseña'>
                </div>
                <div class='complete-container'>
                    <p>Confirmar Contraseña (*)</p>
                    <input type='password' name='contraseñacheck'>
                </div>
                <div class='button-box'>
                    <button type='submit' class='create-button'>CONFIRMA TU CUENTA</button>
                </div>
            </form>

        </div>
    </main>

    <%- include('../partials/footer.ejs') %>

</body>

</html>