<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
</head>
<body>
    <%- include('../partials/header.ejs')%>
    <main class='new-main font'>
        <h2 class='new-title'>CARGA DE PRODUCTOS</h2>
        <form action='/products/newProduct/' method='POST' class='new-form'>
            <div class='edit-space'>
                <input type='text' name='nombre' placeholder="Nombre del Producto">
            </div>
            <div class='edit-space'>
                <select name='categoria'>
                    <option value= "0" disabled selected>Categoria Principal</option>
                    <option value="1">BEBES</option>
                    <option value="2">NENES</option>
                    <option value="3">NENAS</option>
                    <option value="4">OFERTAS</option>
                </select>
            </div>
            <div class='edit-space'>
                <select name='subcategoria'>
                    <option value= "0" disabled selected>Categoria Secundaria</option>
                    <option value="1">Remeras</option>
                    <option value="2">Camisas y Blusas</option>
                    <option value="3">Buzos y Sweaters</option>
                    <option value="4">Camperas</option>
                    <option value="5">Pantalones y Leggins</option>
                    <option value="6">No tiene</option>
                </select>
            </div>
            <div class='edit-space'>
                <p>Foto del Producto</p>
                <input type='file' name='foto' multiple>
            </div>
            <div class='edit-space'>
                <input type='number' name='precio' placeholder="Precio">
            </div>
            <div class='edit-space'>
                <select name='seccion'>
                    <option value= "0" disabled selected>Seccion</option>
                    <option value="1">Productos Destacados</option>
                    <option value="2">Ofertas</option>
                    <option value="3">No tiene</option>
                </select>
            </div>
            <div class='edit-space'>
                <input type='number' name='descuento' placeholder='Porcentaje de Descuento'>
            </div>
            <div class='edit-space'>
                <input type='text' name='talles' placeholder='Talles disponibles de la prenda'>
            </div>
            <div class='edit-space'>
                <input type='text' name='colores' placeholder='Colores disponibles de la prenda'>
            </div>
            <div class='edit-space'>
                <input type='text' name='descripcion' placeholder='Descripcion de la prenda'>
            </div>
            <div class='edit-space'>
                <p>Medidas para Envío</p>
                <div class='edit-space-m'>
                    <input type='number' name='ancho' placeholder='Ancho (cm)'>
                    <input type='number' name='largo' placeholder='Largo (cm)'>
                    <input type='number' name='alto' placeholder='Alto (cm)'>
                </div>
            </div>
            <div class='center-button'>
                <button type='submit' class='save-changes'>Crear Producto</button>
            </div>
        </form>
    </main>
    <%- include('../partials/footer.ejs')%>
</body>
</html>