<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/header.ejs')%>
        <main class='cart-main font'>

            <h3 class='cart-title'>Tu Carrito</h3>
            <div class='panel'>
                <div class='panel1'>
                    <article class='info-box'>
                        <div class='n-d'>
                            <p>Buzo Corto Piel c/ Lurex</p>
                            <a href='#'><i class='fas fa-trash'></i></a>
                        </div>
                        <div class='prod-box'>
                            <img src='/images/products/foto14.jpg' class='p-image'>
                            <div class='price-cant'>
                                <p style='margin: 0;'>Cantidad:</p>
                                <div class='cant'>
                                    <button type='submit' id='resta'>-</button>
                                    <input type='number' value='1' id='contador'>
                                    <button type='submit' id='suma'>+</button>
                                </div>
                                <p>$6000</p>
                            </div>
                        </div>
                    </article>
                </div>

                <div class='panel2'>
                    <h4>SUBTOTAL: $10300</h4>

                    <div class='shipping-box'>
                        <h5 class='shipping-title'>ENVIO</h5>
                        <div class='o-s'>
                            <div class='shipping'>
                                <div class='shipping-option'>
                                    <input type='radio' name='envio'>
                                    <p>A domicilio</p>
                                </div>
                                <input type='text' name='postal-code' placeholder='Codigo postal'
                                    class='code-space'><button type='submit'>CALCULAR</button>
                                <br>
                                <a href='https://codigopostal.com.ar/' target='_blank'>No se mi código postal</a>
                            </div>
                            <div class='shipping'>
                                <div class='shipping-option'>
                                    <input type='radio' name='envio'>
                                    <p>Retiro en Sucursal:</p>
                                </div>
                                <p>Retirá tu pedido sin costo dentro de las 48 hs hábiles en Jose A. Cabrera 3250, CABA
                                </p>
                            </div>
                        </div>
                    </div>
                    <h4>TOTAL: $11000</h4>
                    <div class='shop-button'>
                        <button type='submit' name='compra' class='shop-finish'>INICIAR COMPRA</button>
                    </div>

                </div>
            </div>
        </main>
    <%- include('../partials/footer.ejs')%>
    <script src='/js/product/cart.js'></script>
</body>

</html>