.profile-main{
    background-color: #FDF2E9;
    padding: 165px 20px 20px 20px;
}

h3{
    border-bottom: solid 1px #EB984E;
}

.data-box{
    display: flex;
    justify-content: space-between;
   
}

.box1{
    width: 45%;
}

.user-name{
    padding: 10px 0px;
    margin: 0;
}

.profile-image{
    width: 95%;
    margin: 1rem 0.5rem;
}

.box2{
    width: 50%;
}

.box2 h6{
    text-decoration: underline;
    margin: 0;
}

.box2 p{
    margin: 0;
    padding: 3px;
    font-size: 14px;
}

.edit{
    font-size: 12px;
    background-color: #F5CBA7;
    border: none;
    padding: 0.65rem 0.75rem;
    border-radius: 5px;
    color: black;
    text-align: center;
    text-decoration: none;
    margin: 0.5rem;
}

.delete{
    font-size: 12px;
    background-color: #F5CBA7;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    color: black;
    text-align: center;
    text-decoration: none;
    margin: 0.5rem;
}

.tools{
    position: absolute;
    top: 21rem;
    left: 3.5rem;
}

.box3{
    display: flex;
}

.orders{
    width: 50%;
}

.shop{
    width: 50%;
}

.shop, .orders{
    border: solid 1px #EB984E;
    margin: 0.5rem 0.5rem;
}

.orders a, .shop a{
    text-decoration: none;
}

.orders p, .shop p{
    color: black;
    font-size: 12px;
    margin: 0;
    text-align: center;
}

.shop p{
    padding-top: 1rem;
}

@media(min-width: 768px){
    .profile-main{
        padding: 180px 20px 20px 20px;
    }

    .data-box{
        justify-content: center;
    }

    .profile-image{
        width: 80%;
    }

    .orders p, .shop p{
        font-size: 15px;
        padding: 5px;
    }

    .box2{
        margin-top: 1.5rem;
    }

    .shop p{
        padding-top: 1.2rem;
    }

    .tools{
        position: absolute;
        left: 36.5rem;
        top: 19rem;
    }

    .edit, .delete{
        font-size: 14px;
    }

    .edit{
        padding: 0.65rem 0.85rem;
    }

    .box3{
        width: 95%;
        margin: auto;
    }
}

@media(min-width: 1024px){
    .profile-main {
        padding: 230px 20px 20px 20px;
    }

    .box1 {
        width: 40%;
    }

    .profile-image {
        width: 70%;
    }

    .box2 {
        width: 40%;
    }

    .box2 p{
        font-size: 16px;
    }

    .tools{
        display: flex;
        left: 8.5rem;
        top: 30rem;
    }

    .edit, .delete{
        font-size: 16px;
    }

    .edit{
        padding: 0.55rem;
    }
    
    .box3{
        width: 80%;
        margin: auto;
        margin-top: 1rem;
    }
}

@media(min-width: 1100px){
    .profile-main {
        padding: 230px 20px 20px 20px;
    }

    .profile-image{
        width: 60%;
        margin-left: 7rem;
    }

    .data-box{
        margin-left: 10rem;
    }

    .box2 {
        margin-top: 2rem;
    }

    .box2 p{
        font-size: 17px;
        padding-bottom: 10px;
    }

    .box2 h5{
        padding-bottom: 10px;
    }

    .tools{
        display: flex;
        position: absolute;
        left: 28rem;
        top: 32rem;
    }

    .edit{
        padding: 0.55rem;
    }

    .box3{
        width: 55%;
        margin: auto;
    }  
}