<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <main class='error-main font'>
        <h1 style='color: #DC7633;'>UPS!</h1>

        <p class='error-message'>ERROR 404</p>

        <div class='m-i'>
            <img src='/images/web/error.png' alt='Imagen Error' class='error-image'>
            <p>La página que estás buscando no está en el servidor</p>
        </div>

        <p class='options'>Podés probar con los siguientes links:</p>
        <ul class='list'>
            <li><a href='/'>Página Principal</a></li>
            <li><a href='/products'>Nuestros Productos</a></li>
            <li><a href='/sale'>Nuestras Ofertas</a></li>
            <li><a href='/user/register'>Registrate</a></li>
        </ul>

    </main>
</body>
</html>